body{
background-color: #EAF6F6;
  margin: 0;
  text-align: center;
  /* font-family: cursive; */
}
.h3-font{
  font-weight:lighter;
}
.h1{
  top:60px;
  margin-left: 150px;
}
h1,h2,h3,h4{
  font-style: oblique;
  color: #66BFBF;

}
p{
  color:#40514E;
  font-size: 20px;
}
hr{
  border-top: 5px dotted;
  width:5%;
  color: #d6d2c4;
}
.btn {
   background: #3D94F6;
   background-image: -webkit-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -moz-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -ms-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -o-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -webkit-gradient(to bottom, #3D94F6, #1E62D0);
   -webkit-border-radius: 13px;
   -moz-border-radius: 13px;
   border-radius: 13px;
   color: #FFFFFF;
   font-family: Open Sans;
   font-size: 20px;
   font-weight: 50px;
   padding: 10px;
   -webkit-box-shadow: 1px 1px 20px 0 #000000;
   -moz-box-shadow: 1px 1px 20px 0 #000000;
   box-shadow: 1px 1px 20px 0 #000000;
   text-shadow: 1px 1px 20px #4BD795;
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;

}

.btn:hover {
   border: solid #337FED 1px;
   background: #1E62D0;
   background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}

.container{
/* line-height:2; */

font-family: 'Sacramento', cursive;
font-size: 40px;
background-color: #EAF6F6;
/* height:50px;
position: absolute; */
}
.pro-pic{
  /* position: absolute;
  left: 100px; */
  width:100px;
  height:100px;
}
.contactme:hover{
  color: #fff8cd;
}
.mountain{
padding:40px;
  width:40%;
  height:30%;
  position: relative;
  right:300px;
left:50px


}
.contactme{
position: fixed;
TOP:10PX;
/* position: absolute;
top:20px;
right:30px; */
left:1100px;
font-style: oblique;
font-size: 20px;
}
.skill-img{
  width:20%;
  float:left;
  margin-right: 30px;
  border-radius: 100px;
}
.cloud-bottom{
  position: absolute;
  left:250px;
  top:150px;
}
.cloud-top{
  position: absolute;
  right:200px;
top:20px;
}
.skill-row{
  width:50%;
  margin: 10px auto 10px auto;
  line-height: 2;
  /* letter-spacing: 3; */
   text-align: left;
  }
/* .angular{
  clear:right;
} */
  .skill-2{
    width:20%;
    float: right;
    margin-right: 30px;
    border-radius: 100px;
  }

  .bottom-container{

height: 100px;
background-color:  #66BFBF;

  }
.patent{
  color: white;
  font-size: 0.75em;
}
.footer-link{
position: relative;
top:20px;
  text-decoration:none;
  font-size: 20px;
  color: blue;
}
/* .footer-link:visited{

  color: white;

} */
.footer-link:hover{
  color: white;
}
